# Ignore node_modules folder in any directory
node_modules/

# Ignore node_modules folder in the root directory
/node_modules
dist

.env
docker-compose.yml
knexfile.js
json-to-mysql.sql

# Ignore the build directory in any directory
/build
build/

# Ignore docker-compose.yml in the root directory
# docker-compose.yml

# Ignore docker-compose.yml with any extension (e.g., docker-compose.yml, docker-compose.yml.bak, etc.)
# docker-compose.yml*

# Ignore any .env file in any directory
# **/.env*
# .env
# notesdemo2.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dist-ssr
*.local

# Editor directories and files
# .vscode/*
# !.vscode/extensions.json
# .idea
# .DS_Store
# *.suo
# *.ntvs*
# *.njsproj
# *.sln
# *.sw?
# *