.register-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    gap: 1rem;
    padding: 1.5rem;
    background: #ffffff75;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: black;
}

.register-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.register-form button {
    background-color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.register-form button:hover {
    background-color: goldenrod;
}